<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add}"  th:object="${payment}"  method="post" class="center" >
    <table class="center">
        <tr>
            <td>amount</td>
            <td><input type="text" th:field="*{amount}"></td>
        </tr>

        <tr>
            <td>Currency</td>
            <td><input type="text" th:field="*{currency}"></td>
        </tr>

        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
    </table>
        <div class="center">
            <input class="btn btn-success"  type="submit" value="Create">
        </div>
</form>

</body>
</html>