<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Amount</th>
            <th>Currency</th>
            <th>Date</th>
        </tr>
        <th:block th:each="payment: ${payments}">
            <tr>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.currency}"></td>
                <td th:text="${#temporals.format(payment.updatedAt, 'dd-MM-yyyy  HH:mm:ss')}"></td>
                <td><a th:href="@{'/'+ ${payment.id}}" type="button" class="btn btn-success"> Edit </a> </td>
                <td><a th:href="@{'/soft/delete/' + ${payment.id}}" type="button"  class="btn btn-danger"> Delete </a> </td>
            </tr>
        </th:block>
    </table>

    <a th:href="@{'/'} " type="button"  class="btn btn-info"> Add </a>


</div>

</body>
</html>